#PhpStorm
.idea

#Composer libraries
/src/vendor

#npm modules
/src/node_modules

#Bower components
/src/bower_components
/src/assets/css
/src/assets/js/all.js
/src/assets/js/all-min.js
/src/assets/log